* {
  margin: 3px 2px;
}

.container {
  height: 575px;
}

.containerAddBook {
  height: 530px;

}

.containerEditBook {
  height: 530px;
}

.navbar {
  background-image: url(./assets/book3.jpg);
  height: 130px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 2px solid black;
  border-radius: 7px;
}

.navbar-brand {
  font-family: 'Alfa Slab One', cursive;
  color: red;
  font-size: xx-large;
  font: bold;
  font-size: 50px;
}

.homeNavbar {
  font: bold;
  font-size: x-large;
  font-family: 'Alfa Slab One', cursive;
}

.baslik{
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: xx-large;
}
.btn {
  color: white;
}

.btnn{
height: 40px;
width: 80px;
margin: 0px 3px;
padding: 5px 0px;

}

.titleClass{
padding-bottom: 15px;
font-family:sans-serif;
font-size: 40px;
color: blue;

}

#tableScroll {
  max-height: 610px;
  overflow-y: auto;
  border: 2px solid;
  border-radius: 5px;
}

.Loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 280px;
  margin-bottom: 300px;
  flex-direction: column;
}

.Loading {
  width: 50px;
  height: 50px;
}

#Loading {
  padding-left: 15px;
}

h3 {
  margin-top: 20px;
}

.tick {
  width: 40px;
  display: inline-block;
  margin-top: 10px;
}

.ftr {
  margin-top: 20px;

}

#footer {
  margin-top: 110px;
  background-image: url(./assets/book1.jpg);
  height: 130px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 2px solid black;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
}

.FooterSignature {
  margin-top: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#saveDelete {
  width: 200px;

}

.name {
  margin-left: 35px;
}